.Button {
  background-color: #fff;
  border: 2px solid #282c34;
  border-radius: 12px;
  color: #282c34;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* for member and expense submit */
.submit_on_black { /* on almost black background */
  background-color: #4FC3F7;
  border: 2px solid #282c34;
  border-radius: 12px;
  color: #282c34;

  padding: 15px 32px;
}
.submit_on_black:hover {
  background-color: #282c34;
  border: 2px solid #4FC3F7;
  color: #4FC3F7;
}

.submit_on_black:active {
  background-color: #282c34;
  color: #fff;
}

.submit_on_white { /* on white background */
  background-color: #4FC3F7;
  border: solid 2px #282c34;
  border-radius: 15px;
  box-shadow: 0 9px #282c34;
  color: #282c34;
  padding: 15px 25px;
}

.submit_on_white:hover {
  background-color: #282c34;
  border-color: #666;
  color: #4FC3F7;
}

.submit_on_white:active {
  background-color: #4FC3F7;
  box-shadow: 0 5px #282c34;
  color: #282c34;
  transform: translateY(4px);
}

/* place on almost black background page */
.householdpg_info {
  border-color: #4FC3F7;
  color: #4FC3F7;
  padding: 15px 32px;
}

.householdpg_info:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.householdpg_info:active {
  background-color: #4FC3F7;
  border-color: #fff;
  color: #fff;
}

.round_add, .round_remove { /* on almost black background */
  background-color: #999;
  border: #4169E0;
  border-radius: 50%;
  color: #4169E0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.round_add, .round_remove { /* on white background */
  background-color: #fff;
  border: 2px solid #4169E0;
  border-radius: 50%;
  color: #4169E0;
  cursor: pointer;
  display: inline-block;
  /* font-size: 16px; */
  font-weight: bold;
  height: 32px;
  margin: 10px 0;
  min-width: 32px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 32px;
}