/* React Widget SelectList component class */
/* .rw-select-list {
  padding: 0;
} */

.hide {
  display: none;
}

/* React Widget list */
.rw-list {
  padding: 0;
}

/* React Widget list item */
.rw-list-option {
  list-style-type: none;
}

/* React Widget radio button */
.rw-select-list-input {
  margin-right: 8px;
}